@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, Merriweather, Arial, Helvetica, sans-serif;
  background-color: black;
  overflow-x: hidden;
}

.btn {
  background-color: rgba(26, 41, 59, 1);
  border-radius: 1rem;
  color: #ccc;
  text-decoration: none;
  padding: 0.8rem 6.5vw;
  transition: all 0.3s ease;
}

.btn:not(.selected):hover {
  background-color: rgba(26, 41, 59, 0.8);
  color: white;
  /* padding: 1rem 8vw; */
}

.selected {
  background-color: rgba(26, 60, 80, 1);
  color: white;
}

.text-section {
  margin: 2rem 10vw;
  color: rgb(123, 223, 241);
}

.text-section h2 {
  color: #ddd;
  font-size: 2.5rem;
  margin: 2.5rem 0;
}

.text-section p {
  font-size: 1.2rem;
  line-height: 2rem;
}

.copy-section {
  background-color: black;
  color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  font-size: 1.2rem;
}

#background-video {
  position: fixed;
  left: -50vw;
  width: 200vw;
  transform: rotate(90deg);
  z-index: -1;
}

#header-intro-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  background-image: url("images/title-electric.jpg");
}

#header-intro-div img {
  width: 100%;
  display: block;
}

#header-intro-div h1 {
  color: #ddd;
  text-align: center;
  font-size: 5rem;
  font-weight: 900;
  padding: 2rem;
}

#main-navbar {
  width: 100vw;
  height: 4rem;
}

#main-navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

#main-navbar li {
  display: inline-block;
}

#main-canvas {
  background-color: #fff;
  display: flex;
  margin: auto;
  cursor: crosshair;
}