body {
  margin: 0;
}

.container {
  margin: 1em 1.5em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
  background-color: darkblue;
  color: white;
  text-align: center;
  margin: 0;
  padding: 1em;
}

#navbar {
  background: darkblue;
  padding: 0.4em 2em;
  margin: 0;
}

#navbar ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#navbar li {
  display: inline;
  padding: 0.5em 2em;
}

#navbar a {
  color: white;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.5em;
}

#navbar li:hover {
  background: #44f;
}

#fixed {
  position: fixed;
  bottom: 0;
  right: 50px;
  background: orange;
  padding: 5px 100px 20px 100px;
  text-align: center;
}

#fixed:hover {
  background: #400;
  color: white;
}

#fixed:active {
  background: cyan;
  color: #400;
}

#main {
  float: right;
  width: 70%;
  padding: 0 30px;
  box-sizing: border-box;
}

#sidebar {
  float: left;
  width: 30%;
  padding: 1em;
  margin-right: 2em;
  border-right: 1px solid black;
  box-sizing: border-box;
}

#pizza-img {
  width: 25%;
  border: 0.4em solid yellow;
}

#phone-table {
  border: 1px solid black;
}

#footer {
  background-color: darkblue;
  color: white;
  text-align: center;
  margin: 0;
  padding: 1em;
}

@media (max-width: 800px) {
  #main, #sidebar {
    width: 100%;
    float: none;
    border: none;
  }
}