@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  font-family: 'Roboto Mono', consolas, 'Courier New', Courier, monospace;
  font-size: 1.1rem;
}

#maze-input {
  font-size: 1.3rem;
}